server {
    listen 80;
  	server_name {{ server_name }};

    	# listen 443 ssl http2;
    	# ssl_certificate      /etc/nginx/ssl/{project_name}/{project_name}.crt;
    	# ssl_certificate_key  /etc/nginx/ssl/{project_name}/{project_name}.key;

    	#location = /favicon.ico { access_log off; log_not_found off; }
    	location /static/ {
             root {{ project_dir }};
    	}

        location / {
            include proxy_params;
            proxy_pass http://unix:/run/gunicorn.sock;
    	}
}